<html>
<head>
<link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print">	
<!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
</head>
<body>
<div class="container">
	<div class="span-24 last">
		Header
	</div>
	<div class="span-4">
		Left sidebar
	</div>
	<div class="span-16">
		Main content</br>
		<div class="error span-5">
			error ito XD
		</div>
	</div>
	<div class="span-4 last">
		Right sidebar
	</div>	
</div>


</body>
</html>