#header{background:#8e0000 url('../images/header-maroon-bg.png') repeat-x 50% 100%;height:89px;}
#footer{background:#8e0000 url('../images/footer-maroon-bg.png') repeat-x 50% 0px;min-height:36px;}
#content{background:#e2e2e2 url('../images/content.png') repeat-y 50% 100%;min-height:500px;}
body{background:#8e0000;}
/*Maroon:#8e0000*/
/*Green:#208700*/